
<% include ../views/public_header %>

<form action="/preview" method="post">

	<textarea name="tweet" autocomplete="off" placeholder="What's Happening?" rows="10" cols="50"><% if (locals.tweet) { %><%= tweet %><% } %></textarea>
	
	<button type="submit">Preview</button> <button type="reset" onclick="location.href='/reset'">Reset</button>

</form>

<% if (locals.tweets) { %>

	<ul>
	
		<% tweets.forEach(function(tweet) { %>
			
		<li style="list-style-type: none;"><%= tweet %></li>
		
		<% }) %>
	
	</ul>

<% } %>

<% include ../views/public_footer %>
