
<% include ../views/public_header %>

<form id="single" action="/preview" method="post">
	
	<textarea name="tweet" placeholder="What's Happening?" onload="resize(this);" onkeyup="resize(this);"><% if (locals.tweet) { %><%= tweet %><% } %></textarea>
	
</form>

<div id="buttons">
	<button type="submit" form="single">Preview</button>
	<button type="reset" onclick="location.href='/reset'">Reset</button>
	<button type="submit" form="splits">Tweet</button>
</div>

<% if (locals.tweets) { %>

<form id="splits">
	
	<% tweets.forEach(function(tweet) { %>
	
		<textarea disabled><%= tweet %></textarea>
	
	<% }) %>

</form>	
	
<% } %>

<% include ../views/public_footer %>
