<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>======TiRG=======</title>
    <meta name="description" content="tweets it real good">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <script src="https://use.typekit.net/skz6zbr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
        
    <style>
    	a {
    		text-decoration: none;
    		color: black;
    	}
	    h2 {
	    	font-family: "shuriken-std",fantasy;
	    }
	    h2, h4 {
	    	text-align: center;
	    }
	    h2, h4, textarea {
	    	margin: 0 auto;
	    	margin-top: 10px;
	    }
	    textarea {
	    	display: block;
	    	width: 60%;
	    	font-size: 130%;
	    	padding: 10px;
	    	overflow: hidden;
	    	resize: none;
	    }
	    button {
	    	padding: 10px;
	    }
	    #buttons {
	    	text-align: center;
	    	margin-top: 10px;
	    }
    </style>
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<h2><a href="/">______TiRG______</a></h2>

<% if (locals.username) { %>
	<h4><a href="/timeline"><%= username %></a> tweets it real good. [<a href="/logout">logout</a>]</h4>
<% } %>

<form id="single" action="/preview" method="post">
	
	<textarea class="autogrow" placeholder="What's Happening?" name="tweet"><% if (locals.tweet) { %><%= tweet %><% } %></textarea>
	
</form>

<div id="buttons">
	<button type="submit" form="single">Preview</button>
	<button type="reset" onclick="location.href='/reset'">Reset</button>
	<button type="submit" form="splits">Tweet</button>
</div>

<% if (locals.tweets) { %>

<form id="splits">
	
	<% tweets.forEach(function(tweet) { %>
	
		<textarea class="autogrow" disabled><%= tweet %></textarea>
	
	<% }) %>

</form>	
	
<% } %>

</body>

<script src='autosize.min.js'></script>
<script>
	autosize(document.querySelectorAll('textarea'));
</script>

</html>

