
<% include ../views/public_header %>


<form action="/preview" method="post">

<textarea name="tweet" autocomplete="off" placeholder="What's Happening?" autofocus></textarea>

<button type="submit">Preview</button>

</form>


<% include ../views/public_footer %>
