
<% include ../views/public_header %>

<!-- Begin Content -->
<div>
	<h2>Tweets it Real Good</h2>
	<p><a href="<%= url %>"><img src="images/sign-in-with-twitter-gray.png" /></a></p>
	<p><a href="<%= url %>"><%= url %></a></p>
</div>
<!-- End Content -->

<% include ../views/public_footer %>