
<% include ../views/public_header %>

<h2>@<%= username %> tweets it real good [<a href="/logout">logout</a>]</h2>

<ul>

<% tweets.forEach(function(tweet) { %>
	
<li style="list-style-type: none;"><%= tweet %></li>

<% }) %>

</ul>

<% include ../views/public_footer %>
