<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>======TiRG=======</title>
    <meta name="description" content="tweets it real good">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <style>
    	a {
    		
    	}
	    ul {
	    	-webkit-padding-start:0px;
	    }
	
	    li {
	    	list-style-type: none; 
	    	padding-top: 40px;
	    }
	    h2, h4, ul {
	    	margin: 0 auto;
	    	width: 50%;
	    }
    </style>
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<% if (locals.username) { %>

<h2>[<a href="/">______tIrg______</a>]</h2>
<h4>[<a href="/timeline">@<%= username %></a>][<a href="/logout">出口</a>]</h4>
<% } %>

