body {
	background-color: #333;
}

a, p {
	color: #ccc;
	text-align: center;
}

textarea, input, img, p {
	margin: 0 auto;
	margin-top: 10px;
	display: block;
}

textarea, input {
	width: 60%;
	font-size: 130%;
	padding: 10px;
	overflow: hidden;
	resize: none;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 10px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

button, p {
	padding: 10px;
}

#buttons {
	text-align: center;
	margin-top: 10px;
}

img {
	width: 60%;
}

#login {
	width: 200px;
}

